<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->
  <title>
    <%= title %>
  </title>

  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/theme.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />

  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/plugins/socket-io-client/socket.io.js"></script>
  <script src="/plugins/socket-sdk/socket-sdk.js"></script>
  <script src="/plugins/socket-sdk/socket-chat-gui.js"></script>
</head>

<body class="bg-dark text-light" s>
  <%- include('header') %>
  <div style="min-height: 100vh">
    <%- include(page) %>
  </div>
  <%- include('footer') %>
</body>

<% if(user) { %>
<script>
  (() => {
    const chatGui = new SocketChatGUI({
      namespace: "/chat",
      withCredentials: true
    });
  })()
</script>
<% } %>

</html>