<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>3D Oval + PCA + Projections with Shadows</title>
  <style>
    body {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      background: #111;
      color: white;
      font-family: sans-serif;
    }
  </style>
</head>

<body>
  <div class="canvas3d-wrapper">
    <canvas id="canvas3d" width="400" height="400"></canvas>
    <canvas id="canvas3d-material" width="400" height="400"></canvas>
    <canvas id="canvasXY" width="200" height="200"></canvas>
    <canvas id="canvasXZ" width="200" height="200"></canvas>
    <canvas id="canvasYZ" width="200" height="200"></canvas>
    <div id="info"></div>
  </div>

</body>

<script type="module">
  import * as THREE from '/plugins/three/build/three.module.js';
  import {
    OrbitControls
  } from '/plugins/three/examples/jsm/controls/OrbitControls.js';

  const canvas3d = document.getElementById("canvas3d");
  const canvas3dMat = document.getElementById("canvas3d-material");
  const canvasXY = document.getElementById("canvasXY");
  const canvasXZ = document.getElementById("canvasXZ");
  const canvasYZ = document.getElementById("canvasYZ");

  async function loadMesh() {
    const res = await axios.get("/api/pinyin/player/mesh", {
      credentials: "include"
    });
    const {
      data
    } = res.data;
    return data;
  }

  function meshArrayToGeometry(meshArray) {
    const geometry = new THREE.BufferGeometry();
    const vertices = new Float32Array(meshArray);
    geometry.setAttribute("position", new THREE.BufferAttribute(vertices, 3));
    // geometry.computeVertexNormals();
    return geometry;
  }

  const renderer = new THREE.WebGLRenderer({
    canvas: canvas3d,
    antialias: true
  });
  renderer.setSize(400, 400);

  const scene = new THREE.Scene();
  scene.background = new THREE.Color(0x111111);

  const camera = new THREE.PerspectiveCamera(50, 400 / 400, 0.1, 100);
  camera.position.set(2, 2, 2);

  const controls = new OrbitControls(camera, renderer.domElement);

  const light = new THREE.DirectionalLight(0xffffff, 1);
  light.position.set(2, 2, 2);
  scene.add(light);
  scene.add(new THREE.AmbientLight(0xffffff, 0.3));

  loadMesh().then(meshArray => {
    const geom = meshArrayToGeometry(meshArray);

    const material = new THREE.MeshStandardMaterial({
      color: 0x33aaff,
      roughness: 0.4,
      metalness: 0.1
    });

    const mesh = new THREE.Mesh(geom, material);

    scene.add(mesh);
    animate();
  });

  function animate() {
    requestAnimationFrame(animate);
    controls.update();
    renderer.render(scene, camera);
  }
</script>


</html>