body {
  font-family: sans-serif;
}

.text-gradient {
  display: inline-block;
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(135deg, #000, #868686);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  line-height: 1.2;
  padding: 0.5em 1em;
  position: relative;
  overflow: hidden;
}

.custom-input {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  color: #fff;
  resize: none;
  font-family: monospace;
  transition: 0.2s ease;
}
.custom-input:focus {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-color: var(--bs-primary);
  box-shadow: 0 0 6px var(--bs-primary);
  outline: none;
}

.custom-input::placeholder {
  color: rgba(200, 200, 200, 0.4);
  font-style: italic;
}

.tab-btn {
  color: #aaa !important;
  border: none;
  background: transparent;
  transition: all 0.3s ease;
  font-weight: 500;
}
.tab-btn.active {
  color: var(--bs-light) !important;
  border-bottom: 2px solid var(--bs-primary);
  background: rgb(var(--bs-primary-rgb));
  border-radius: 10px 10px 0 0;
}
.tab-btn:hover {
  color: #fff !important;
  /* background: rgba(255, 255, 255, 0.05); */
  background: color-mix(in srgb, rgb(var(--bs-primary-rgb)), white 25%);
  border-radius: 10px 10px 0 0;
}