<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %> | <%= appName %>
  </title>
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/theme.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <script src="/plugins/axios/axios.min.js"></script>
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/plugins/socket-io-client/socket.io.js"></script>
  <style>
    body {
      font-family: sans-serif;
      background: #fafafa;
      text-align: center;
    }

  </style>
</head>

<body>
  <%- include(page) %>
</body>

</html>